<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <%- defineContent('title') %>
    <%- style %>
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <%- body %>
    <%- script %>
  </body>
</html>